* {
            margin: 0px;
            padding: 0px;
        }

        html {
            overflow-y: scroll;
        }

        body {
            background-color: #4C763B;
            text-align: center;
            overflow-x: hidden;
        }

        h1 {
            color: #B0CE88;
            font-size: 50px;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
        }

        .game {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }

        .btn {
            height: 100px;
            width: 100px;
            background-color: #B0CE88;
            border: none;
            border-radius: 10px;
            font-size: 50px;
            color: #043915;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #C7DE9A;
            cursor: pointer;
        }

        .game-btn {
            background-color: #B0CE88;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            color: #043915;
            padding: 8px;
            margin: 5px;
            height: 50px;
            width: 150px;
        }

        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            color: #B0CE88;
            margin: 3px;
        }
        #winner-msg{
            height: 20px;
        }
        .msgt {
            text-align: center;
            font-size: 20px;
            margin: 10px;
        }

        @media (max-width: 350px) {
            .container{
                height: 50vh;
            }
            .btn{
                height: 80px;
                width: 80px;
            }
        }